<html>
    <head>
        <title>Login</title>
    </head>
    <body style=background-image: url('static/xp.jpeg');>
        <form action="login" method="post">
            <br>
            <br>
            <br>
            <table align="center">
                <tr>
                    <td colspan="2" align="center">Login</td>
                </tr>
                <tr>
                    <td>Usuario</td>
                    <td><input type=" text" name=" Usuario" / ></td>
                </tr>
                <tr>
                <td>Contraseña</td>
                <td><input type="Password" name="password" / ></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><input type="submit" value="Acceder" /></td>
                    </tr>
            </table>
        </form>
    </body>
</html>